<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% if success %}
        <h2>WELCOME STUDENT</h2>

        <form method="get" action="{% url 'loginUser' %}">
            <input type="submit" value="Logout">
        </form>

    {% else %}
        <h2>Login</h2>

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            Username:
            <input type="text" name="username">
            <br><br>

            Password:
            <input type="password" name="password">
            <br><br>

            <input type="submit" value="Login">
        </form>
    {% endif %}

</body>
</html>